body {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #0077b6;
  padding: 1rem;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container {
  min-width: 80%;
  margin: 0 auto;
  max-height: 70vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

form {
  display: flex;
  margin-bottom: 20px;
  min-height: 60px;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Arial, sans-serif";
  background-color: #f8f8f8;
}

.submit {
  width: 20%;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #0077b6;
}

button:hover {
  background-color: #005e91;
}

ul {
  list-style: none;
  padding: 0;
  bottom: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  text-transform: capitalize;
}

.task {
  flex-grow: 1;
}

.complete-button,
.delete-button {
  margin-right: 10px;
  background: none;
  color: #0077b6;
}

.complete-button:hover,
.delete-button:hover {
  transform: scale(1.1);
  background: none;
}

.complete-button i,
.delete-button i {
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
  color: #44a84d;
}

.remove-task-button {
  background-color: #ff5858;
  display: none;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.completed-text {
  color: #44a84d;
}

.incomplete-text {
  color: #ff5858;
}
